@import "tailwindcss";
.fade-in {
  opacity: 0;
  transform: translateY(25px);
  animation: fadeIn 0.8s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
html {
  scroll-behavior: smooth;
}
